<mat-drawer-container class="containerr" autosize>

    <mat-toolbar class="my-toolbar container-fluid">
        <a class="pointerr ml-4" (click)="drawer.toggle()">
            <mat-icon>dehaze</mat-icon>
        </a>
        <p class="font-weight-bold mb-0 ml-5 h5">{{ title }}</p>
        <button class="btn btn-lg ml-auto py-0 mr-5" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <button mat-button (click)="onLogout()" class="ml-2">
                    <mat-icon class="mr-2">power_settings_new</mat-icon> Logout
                </button>
            </ng-template>
        </mat-menu>
    </mat-toolbar>
    <!-- mode="side" -->

    <mat-drawer #drawer class="sidebar lead font-weight-bold" mode="over">

        <div class="sidebar-content">
            <div class="text-center mt-3">
                <p class="text-white mb-0 font-weight-bold h5">{{ title }}</p>

            </div>
            <hr>
            <ul>
                <li matRipple (click)="drawer.close()"><a routerLink="/dashboard" routerLinkActive="current">
                        <mat-icon class="mr-3">dashboard</mat-icon>Dashboard
                    </a></li>

                <li matRipple (click)="drawer.close()"><a routerLink="/states" routerLinkActive="current">
                        <mat-icon class="mr-3">location_on</mat-icon>States
                    </a></li>

                <li matRipple (click)="drawer.close()"><a routerLink="/banks" routerLinkActive="current">
                        <mat-icon class="mr-3">business</mat-icon>
                        Banks
                    </a></li>

                <li matRipple (click)="drawer.close()"><a routerLink="/customers" routerLinkActive="current">
                        <mat-icon class="mr-3">supervisor_account</mat-icon>
                        Customers
                    </a></li>

                <li matRipple (click)="drawer.close()"><a routerLink="/transactions" routerLinkActive="current">
                        <mat-icon class="mr-3">trending_up</mat-icon>
                        Transactions
                    </a></li>

                <li matRipple (click)="drawer.close()"><a routerLink="/interactions" routerLinkActive="current">
                        <mat-icon class="mr-3">question_answer</mat-icon>
                        Interactions
                    </a></li>

                <li matRipple (click)="drawer.close()"><a routerLink="/messages" routerLinkActive="current">
                        <mat-icon class="mr-3">mail</mat-icon>
                        Messages
                    </a></li>
            </ul>
            <div class="text-center mt-5 pt-5">
                <a matRipple (click)="onLogout()" (click)="drawer.close()"
                    class="mt-4 bg-danger text-white lead font-weight-bold my-ppointer border-0">
                    <mat-icon class="mr-3">power_settings_new</mat-icon>
                    Logout
                </a>
            </div>
        </div>

    </mat-drawer>
    <div class="sidenav-content">

        <router-outlet></router-outlet>

    </div>
</mat-drawer-container>