main {
    width: 80%;
    margin: 1rem auto;
}

.my-toolbar {
    padding: 0;
    height: 50px;
    background-color: #142644;
    /* z-index: 99999 !important; */
    /* background: linear-gradient(60deg, #118ca4, #54e4b6); */
}

.my-toolbar img {
    max-width: auto;
    max-height: 35px;
}

.mat-drawer-backdrop .ng-star-inserted .mat-drawer-shown {
    visibility: hidden !important;
}

.containerr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.containerr .mat-drawer {
    min-width: 240px;
}

.containerr {
    background-color: rgba(234, 235, 239, 0.527) !important;
}

.sidebar {
    background-color: #142644;
    /* z-index: -99999 !important; */
}

.sidebar-content {
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border-bottom: 1px solid rgb(120, 142, 194);
    color: #b8c7ce;
}

.current {
    background: #b8c7ce;
    color: #3f6184 !important;
}

.current:hover {
    background-color: #b8c7ce !important;
    /* border-top-right-radius: 40%;
    border-bottom-right-radius: 40%; */
}

.sidebar a:hover {
    background-color: #b8c7ceb3;
    color: #3f6184;
    text-decoration: none;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    list-style-type: none;
}

.sidebar li:last-child a {
    border-bottom: none;
}

.sidebar img {
    max-width: 100px;
    max-height: auto;
}

.my-toolbar {
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.83) !important;
}