:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

#bank-table-list tr {
    color: #6c757d !important;
    font-weight: 600 !important;
    font-size: 13px !important;
}

.other-btn {
    border-radius: 0px !important;
}