<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item active h5" aria-current="page">Dashboard
      </li>
    </ol>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card my-2 text-muted">
        <div class="card-body">
          <div style="display: block">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="data_banks" [gradient]="gradient"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card my-2 text-muted text-center">
      
        <div class="card-body">
          <div style="display: block">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="gradient"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>