<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item active h5" aria-current="page">Dashboard
      </li>
    </ol>
  </nav>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card my-2 text-muted">
        <div class="card-header">States</div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card my-2 text-muted">
        <div class="card-header">Banks</div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart [datasets]="barrChartData" [labels]="barrChartLabels" [options]="barrChartOptions"
              [plugins]="barrChartPlugins" [legend]="barrChartLegend" [chartType]="barrChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>